.background{
    background-image: url('/images/raimond-klavins-azwRXQgJvUI-unsplash.jpg');
    background-color: transparent;
}

@media screen and (max-width:768px) {
    .background{
        background-image: url('/images/raimond-klavins-azwRXQgJvUI-unsplash-mobile.jpg');
        background-color: transparent;           
}}